<?xml version="1.0" encoding="UTF-8"?>  
<Configuration monitorInterval="30">  
    <Appenders>  
        <RollingRandomAccessFile name="pushlog_warn" fileName="${logging.directory}/push_warn.log" filePattern="${logging.directory}/push_warn-%d{yyyy-MM-dd}.log.gz" > 
        	<PatternLayout>
                <Pattern>[%-6p]:[%d{ISO8601}]:[%t]:[%c{2}]:%m%n</Pattern>
            </PatternLayout>  
            <Policies>  
                <TimeBasedTriggeringPolicy modulate="true"  interval="1" />  
            </Policies>  
            <Filters>
             	<ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
          	<DefaultRolloverStrategy>  
	         	<Delete basePath="${logging.directory}" maxDepth="1">  
                      <IfFileName glob="push_warn-*.log.gz" />  
                      <IfLastModified age="30d" />  
	             </Delete>  
            </DefaultRolloverStrategy>  
        </RollingRandomAccessFile>  
        
        <RollingRandomAccessFile name="pushlog_debug" fileName="${logging.directory}/push_debug.log" filePattern="${logging.directory}/push_debug-%d{yyyy-MM-dd}.log.gz" >   
            <PatternLayout>
                <Pattern>[%-6p]:[%d{ISO8601}]:[%t]:[%c{2}]:%m%n</Pattern>
            </PatternLayout>  
            <Policies>  
                <TimeBasedTriggeringPolicy modulate="true"  interval="1" />  
            </Policies>  
            <Filters>
             	<ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
	        <DefaultRolloverStrategy>  
	         	<Delete basePath="${logging.directory}" maxDepth="1">  
                      <IfFileName glob="push_debug-*.log.gz" />  
                      <IfLastModified age="3d" />  
	             </Delete>  
            </DefaultRolloverStrategy>  
         </RollingRandomAccessFile>  
    </Appenders>  
    <Loggers>
	    <AsyncLogger name="com.zdk" level="DEBUG" additivity="false">
	        <appender-ref ref="pushlog_debug" />
	        <appender-ref ref="pushlog_warn" />
	    </AsyncLogger>
	    <asyncRoot level="INFO">
			<appender-ref ref="pushlog_warn" />
			<appender-ref ref="pushlog_debug" />
		</asyncRoot>
	</Loggers>
</Configuration>  